// reset defaults

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// page

.page {
  min-height: 100vh;
}

.page_login {
  background: transparent url(../images/cool-background.jpg) no-repeat 0 0;
  background-size: cover;
}

// chat bar

.chat-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

// chat

.chat {
  width: 255px;
  height: 335px;

  & + & {
    margin-left: 20px;
  }
}

.chat_state_minified {
  height: auto;
  .chat__body {
    display: none;
  }
}

.chat__title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.chat__messages {
  position: relative;
  overflow: auto;
}


.chat__input {
  display: block;
  width: 100%;
  padding: 5px 10px;
}

// message

.message {
  width: 100%;
}

.message__body {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #DDDDDD;
  background-color: #eeeeee;
  color: #000088;
}

.message_by_myself {
  text-align: right;

  .message__body {
    border-color: #67d6df;
    background-color: #b2dfdb;
  }
}